<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ims.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>imsProject_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddInquiryController</display-name>
    <servlet-name>AddInquiryController</servlet-name>
    <servlet-class>com.ims.controller.AddInquiryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInquiryController</servlet-name>
    <url-pattern>/AddInquiryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInquiriesController</display-name>
    <servlet-name>ListInquiriesController</servlet-name>
    <servlet-class>com.ims.controller.ListInquiriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInquiriesController</servlet-name>
    <url-pattern>/ListInquiriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInquiryController</display-name>
    <servlet-name>DeleteInquiryController</servlet-name>
    <servlet-class>com.ims.controller.DeleteInquiryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInquiryController</servlet-name>
    <url-pattern>/DeleteInquiryController</url-pattern>
  </servlet-mapping>
</web-app>